anyio==3.6.2
black==23.3.0
click==8.1.3
colorama==0.4.6
fastapi==0.95.1
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
idna==3.4
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.2.0
psycopg2-binary==2.9.6
pydantic==1.10.7
ruff==0.0.263
sniffio==1.3.0
SQLAlchemy==2.0.10
starlette==0.26.1
tomli==2.0.1
typing_extensions==4.5.0
uvicorn==0.22.0
